/* General Styling */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #444;
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
}

h3 {
    color: #555;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

.error {
    color: #e74c3c;
    font-weight: bold;
    margin-top: 15px;
}

/* Form Styling */
form {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

form input[type="radio"] {
    margin: 0 10px 20px 0;
}

form input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

form input[type="submit"]:hover {
    background-color: #218838;
}

/* Navigation Links */
.nav-links {
    margin-top: 20px;
    text-align: center;
}

.nav-links a {
    color: #111;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background-color: #218838;
    color: #fff;
    border-color: #218838;
}

/* Table Styling */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

table a {
    color: #007bff;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

/* Pagination Links */

p a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

